@model IEnumerable<IGrouping<int, Clockwork.Web.Models.RequestedTimesModel>>


@{
    IReadOnlyCollection<TimeZoneInfo> timeZoneInfos = TimeZoneInfo.GetSystemTimeZones();
}

@section Index {
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
        <script type="text/javascript" src="~/Scripts/index.js"></script>
    </head>
    <div id="main">
        <div>
            <h3 id="getTimeHeader">Choose a Timezone:</h3>
            <div class="select">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.DropDownList("Timezones", "Select Time")
                    <input type="submit" value="Submit" />
                }
                @*display available timezones from TimeZoneInfo
                    info.id returns "id" (name) for each timezone*@
                @* @foreach (TimeZoneInfo info in timeZoneInfos)
                    {
                        <option value="@info.Id">@info.Id</option>
                    }*@
            </div>
        </div>
        <div>
            <button id="currBttn" type="button">Get the Time</button>
            <div id="outputDiv">
                <p>The time in <strong>@ViewBag.Timezone</strong> is @ViewBag.Time</p>
            </div>
        </div>
        @foreach (var timeGroup in Model)
        {
            <div id="dbInfo">
                <ul>
                    @foreach (var item in timeGroup)
                    {
                        <li>TimeZone: @item.TimeZone</li>
                        <li>Time: @item.Time</li>
                        <li>ClientIp: @item.ClientIp</li>
                        <li>UTCTime: @item.UTCTime</li>
                        <li>TimeQueryId: @timeGroup.Key</li>
                    }
                </ul>
            </div>
        }

    </div>
}
