@model Clockwork.Web.Models.AllTimesViewModel

<div>
    @foreach (var time in Model.RequestedTimes)
    {
        <div class="dbInfo">
            <ul>
                <li>Timezone: @time.TimeZone</li>
                <li>Time: @time.Time</li>
                <li>Client Ip: @time.ClientIp</li>
                <li>UTC Time: @time.UTCTime</li>
                <li>CurrentTimeQueryId: @time.CurrentTimeQueryId</li>

            </ul>
        </div>
    }
</div>