<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title AWH - Clockwork</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    <nav class="navbar">
        <h3>
            AWH Clockwork Project !
        </h3>
    </nav>
    <div class="main">
        @Html.Action("TimezoneOptions")
        @RenderSection("Index", required: false)
        @Html.Action("ShowCurrentTime")
        @Html.Action("ShowAllTimes")
        @RenderBody()
    </div>
    <div>
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Caleb Sharp - AWH Clockwork Project</p>
        </footer>
    </div>
</body>
</html>
 <script>
     function ShowCurrentTime() {
         const selectedTimezone = document.getElementById("zone").value;
         console.log(selectedTimezone);
     }
 </script>